<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title,remove)" th:remove="${remove}">
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>[[${title}]]</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/vendors/typicons/typicons.css}">
  <link rel="stylesheet" th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/js/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body>
	<!-- <div th:fragmet="sortItem(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<a th:if="${sortField != ${fileName}}"
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortDir}}"
			class="text-black"
		>First name</a>
		<a th:if="${sortField == ${fileName}}"
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${reverseSortDir}}"
			class="text-black"
		>First name</a>
		<span
			th:if="${sortField == ${fileName}}"
			th:class="${sortDir == 'asc' ? 'mdi mdi-arrow-down-bold-circle' : 'mdi mdi-arrow-up-drop-circle'}"
		>
		</span>	
	</div> -->
	<div th:fragment="pagination" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No users found</span>
		</div>
		<div>
	       	<nav>
	       		<ul class="pagination justify-content-center">
	       			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
	       				<a class="page-link" th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
	       			</li>
	       			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"> 
	       				<a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
	       			</li>
	       			<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
	       				<a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
	       			</li>
	       			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
	       				<a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
	       			</li>
	       			<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
	       				<a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
	       			</li>
	       		</ul>
	       	</nav>
		</div>
	</div>


</body>
</html>