<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="sidebar" class='active' th:fragment="sidebar">
		 <nav class="sidebar sidebar-offcanvas" id="sidebar">
	        <ul class="nav">
	          <li class="nav-item">
	            <a class="nav-link" th:href="@{/index.html}">
	              <i class="mdi mdi-grid-large menu-icon"></i>
	              <span class="menu-title">Dashboard</span>
	            </a>
	          
	          <li class="nav-item nav-category">Forms and Datas</li>
	          <li class="nav-item">
	            <a class="nav-link" data-bs-toggle="collapse" th:href="@{/#user-pages}" aria-expanded="false" aria-controls="user-pages">
	              <i class="menu-icon mdi mdi-account-circle-outline"></i>
	              <span class="menu-title">User Pages</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="user-pages">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"> <a class="nav-link" th:href="@{/users}"> Manager User </a></li>
	                <li class="nav-item"> <a class="nav-link" th:href="@{/pages/samples/login.html}"> Login </a></li>
	              </ul>
	            </div>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" data-bs-toggle="collapse" th:href="@{/#form-elements}" aria-expanded="false" aria-controls="form-elements">
	              <i class="menu-icon mdi mdi-card-text-outline"></i>
	              <span class="menu-title">Form elements</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="form-elements">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"><a class="nav-link" th:href="@{/pages/forms/basic_elements.html}">Basic Elements</a></li>
	              </ul>
	            </div>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" data-bs-toggle="collapse" th:href="@{/#charts}" aria-expanded="false" aria-controls="charts">
	              <i class="menu-icon mdi mdi-chart-line"></i>
	              <span class="menu-title">Charts</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="charts">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"> <a class="nav-link" th:href="@{/pages/charts/chartjs.html}">ChartJs</a></li>
	              </ul>
	            </div>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" data-bs-toggle="collapse" th:href="@{/#tables}" aria-expanded="false" aria-controls="tables">
	              <i class="menu-icon mdi mdi-table"></i>
	              <span class="menu-title">Tables</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="tables">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"> <a class="nav-link" th:href="@{/pages/tables/basic-table.html}">Basic table</a></li>
	              </ul>
	            </div>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" data-bs-toggle="collapse" th:href="@{/#icons}" aria-expanded="false" aria-controls="icons">
	              <i class="menu-icon mdi mdi-layers-outline"></i>
	              <span class="menu-title">Icons</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="icons">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"> <a class="nav-link" th:href="@{/pages/icons/mdi.html}">Mdi icons</a></li>
	              </ul>
	            </div>
	          </li>
	          
	          
	        </ul>
	      </nav>
	</div>
</body>
</html>