<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('User - Pet Shop', 'none')}">
  
</head>
<body>
	<div class="container-scroller"> 
		<!-- header -->
		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row" th:replace="~{header :: header}"></nav>
		<!-- header -->
		<div class="container-fluid page-body-wrapper">
			<!-- settings-panel.html -->
			<div class="theme-setting-wrapper" th:replace="~{setting_panel :: setting-panel}"></div> 
			<!-- settings-panel -->
			
			<!-- sidebar -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="~{sidebar :: sidebar}" ></nav>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card j">
			              <div class="card">
			                <div class="card-body">
			                  <h4 class="card-title text-center">Manage User</h4>
			                  <a th:href="@{/users/new}" class="card-description">Create New User</a>
			                  <div th:if="${message != null}" class="alert alert-success text-center">
			                  	[[${message}]]
			                  </div>
			                  <div class="table-responsive">
			                    <table class="table table-striped">
			                      <thead>
			                        <tr>
			                      		<th>UserId</th>
										<th>Photo</th>
										<th>Email</th>
										<th>First name</th>
										<th>Last name</th>
										<th>Role</th>
										<th>Enabled</th>
										<th>Action</th>		                      
			                        </tr>
			                      </thead>
			                      <tbody>
			                      	<tr th:each="user : ${listUsers}">
			                      		<td>[[${user.id}]]</td>
			                      		<td class="py-1">
			                            	<img th:src="@{/images/faces/face1.jpg}" alt="image"/>
			                          	</td>
			                          	<td>[[${user.email}]]</td>
			                          	<td>[[${user.firstName}]]</td>
			                          	<td>[[${user.lastName}]]</td>
										<td>[[${user.roles}]]</td>
										<td>
											<a 
												th:if="${user.enabled == true}" 
												class="mdi mdi-check-circle" 	
												th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
												title="Disable this user"
											>
											</a>
											<a 
												th:if="${user.enabled == false}"
												class="mdi mdi-check-circle-outline" 	 
												th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
												title="Enabled this user"
											>
											</a>
										</td>
										<td>
											<a class="mdi mdi-tooltip-edit" th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
											&nbsp;
											<a 
												class="mdi mdi-delete link-delete" 
												th:href="@{'/users/delete/' + ${user.id}}" 
												title="Delete this user"
												th:data-confirm-delete="|Are you sure you want to delete this userId ${user.id}?|"
  												onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
											>
											</a>
										</td>
			                        </tr> 
			                      </tbody>
			                    </table>
			                  </div>
			                </div>
			              </div>
			            </div>
					</div>
				</div>
				
				<footer class="footer" th:replace="~{footer :: footer}"></footer>
	    	</div>
	    </div>
	</div>

</body>
</html>