<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('User - Pet Shop', 'none')}">
  
</head>
<body>
	<div class="container-scroller"> 
		<!-- header -->
		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row" th:replace="~{header :: header}"></nav>
		<!-- header -->
		<div class="container-fluid page-body-wrapper">
			<!-- settings-panel.html -->
			<div class="theme-setting-wrapper" th:replace="~{setting_panel :: setting-panel}"></div> 
			<!-- settings-panel -->
			
			<!-- sidebar -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="~{sidebar :: sidebar}" ></nav>
			<div class="main-panel">
			<div class="content-wrapper">
          	<div class="row">
				<div class="col-12 grid-margin stretch-card">
              	<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create New User</h4>
                  
                  <form th:action="@{/users/save}" method="post" th:object="${user}" class="forms-sample">
                    
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email address</label>
                      <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">First Name</label>
                      <input type="text" class="form-control" th:field="*{firstName}" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Last Name</label>
                      <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                      <label for="form-check-label">Roles</label><br/>
                      <th:block th:each="role : ${listRoles}">
                      	<input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="form-check-input">
                      	<small> - [[${role.description}]]</small>
                      	<br/>
                      </th:block>
                      
                    </div>
                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:field="*{enabled}" >
                        Enabled
                      </label>
                    </div>
                    <input type=submit value="Save" class="btn btn-primary me-2" />
                    <input type="button" value="Cancel" id="buttonCancel" class="btn btn-light" />
                    
                  </form>
                </div>
              	</div>
            </div>
            </div>
            </div>
				
				
				<footer class="footer" th:replace="~{footer :: footer}"></footer>
	    	</div>
	    </div>
	</div>
	
<script type="text/javascript">
	$(document).ready(function(){
		$("#buttonCancel").on("click", function(){
			window.location = "[[@{/users}]]";
		});
	});
</script>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
<script th:src="@{/vendors/select2/select2.min.js}"></script>
<script th:src="@{/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/js/file-upload.js}"></script>
<script th:src="@{/js/typeahead.js}"></script>
<script th:src="@{/js/select2.js}"></script>
</body>
</html>